<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d7003866-2c21-4a4d-87ad-69ad2ffc6772/resourcegroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/VueWithASPServer20240103025321</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <ApiResourceId>/subscriptions/d7003866-2c21-4a4d-87ad-69ad2ffc6772/resourceGroups/DefaultResourceGroup-DEWC/providers/Microsoft.ApiManagement/service/VueWithASPServerapi/apis/VueWithASPServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vuewithaspserver20240103025321.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>887dff31-6679-48c1-9e85-00c3edafce50</ProjectGuid>
    <MSDeployServiceURL>vuewithaspserver20240103025321.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VueWithASPServer20240103025321</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$VueWithASPServer20240103025321</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>